body {
    background-color: yellow;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(images/bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    padding: 30px;
}

.p3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: white;
    margin-left: 50px;
    margin-right: 150px;
    text-align: justify;
}

.about-section {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    margin-left: 100px;
    padding-bottom: 30px;
}

.about-section img {
    width: 20%;
    border-radius: 15px;
}

.about {
    margin-top: 40px;
}

.about-grid {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
}

.about-item {
    background: #f68d28;
    width: 200px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.about-item img {
    width: 100%;
}